/* #### Allgemein #### */

* {
	box-sizing: border-box;
}

body {
	background: rgb(233, 233, 233);
	
	font-family: 'gudearegular', sans-serif;
	line-height: 1.4;
	color: #333;

	padding-top: 94px;
	margin: 0;
}

p {
	margin-top: 0;
}

p:last-child {
	margin-bottom: 0;
}

a:link, a:visited {
	color: rgba(251, 81, 84, 0.8);
}

a:hover {
	text-decoration: none;
}



/* #### Header #### */

.site-header {
	background: #fff;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
}

.site-header h1 {
	width: 90%;
	margin: 10px auto;
}

/* #### Spalten #### */

.favs {
	display: flex;
	flex-wrap: wrap;
}

.col {
	flex-basis: 23.5%;
	margin-right: 2%;
}

.col:last-child {
	margin-right: 0;
}



/* #### Artikel #### */

article {
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
	border-radius: 6px;
	background: #fff;

	padding-bottom: 8px;

	margin-bottom: 20px;

	position: relative;
}

article h2 {
	width: 100%;
	padding: 4px 10px;

	position: absolute;
	top: 0; left: 0;

	background: rgba(251, 81, 84, 0.9);

	font-weight: 400;
	color: #F9E8E8;
	font-size: 20px;

	margin-top: 0;
	margin-bottom: 0;
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}

article img {
	width: 100%;

	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}

article p {
	padding: 2px 10px;
}

/* #### Sonstiges #### */

.wrapper {
	width: 90%;
	margin: auto;
}

@font-face {
    font-family: 'gudearegular';
    src: url('../fonts/gudea-regular-webfont.woff2') format('woff2'),
         url('../fonts/gudea-regular-webfont.woff') format('woff'),
         url('../fonts/gudea-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}